@import "../../sass/vars";
$font: "Raleway", sans-serif;

@mixin flexColumnCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.newListWizard {
  font-size: 18px;
  background-color: $color1;
  color: $color3;
  @include flexColumnCenter;
  justify-content: center;
  font-family: $font;
  height: (100vh * (5/6));
  width: 100vw;
  h1 {
    font-size: 24px;
  }

  p {
    text-align: center;
  }
}

.newListForm {
  margin-top: 20px;
  padding-top: 10px;
  height: 50%;
  width: 75%;
  border-width: 1px 1px 0px 0px;
  border-color: $color3;
  border-style: solid;
  border-radius: 0 10% 0 0;
  @include flexColumnCenter;
  justify-content: space-around;
}

.wizardInput {
  margin-top: 10px;
  color: $color3;
  background-color: transparent;
  border-width: 0 0 1px 0;
  border-color: $color3;
  border-style: solid;
  font-size: 18px;
  &:focus {
    outline: none;
    text-decoration: none;
  }
}

.wizardButton {
  background-color: $color3;
  font-size: 18px;
  color: $color1;
  border: none;
  padding: 10px;
  border-radius: 10px;
  &:focus {
    outline: none;
    text-decoration: none;
  }
}

@media (min-width: $breakpoint-tablet) {
  .newListWizard {
    h1 {
      font-size: 100px;
      margin-bottom: 40px;
    }
    .newListForm {
      border: none;
    }
  }
  .wizardInput {
    font-size: 48px;
  }
  .publicRadio {
    font-size: 48px;
    input {
      margin-left: 30px;
      height: 36px;
      width: 36px;
    }
  }
  .wizardButton {
    font-size: 48px;
  }
}
