@import "../../sass/vars";

.userMenu {
  background-color: $color1;
  height: 100vh;
  font-family: $font;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  .backButton {
    color: $color3;
    font-size: 24px;
    position: fixed;
    top: 3vh;
    left: 3vh;
  }

  .profilePic {
    max-height: 20vh;
    max-width: 60vw;
    height: auto;
    width: auto;
  }

  button {
    font-family: $font;
    font-size: 36px;
    background-color: $color3;
    color: $color1;
    border: none;
    padding: 10px;
    border-radius: 10px;
    &:focus {
      outline: none;
      text-decoration: none;
    }
    &:hover {
      text-decoration: underline;
    }
  }

  h1 {
    padding: 3px;
    font-family: $font;
    font-size: 36px;
    text-align: center;
    color: $color3;
    background-color: $color1;
    margin-top: 5px;
  }
}

.userEditInput {
  font-family: $font;
  width: 80vw;
  text-align: center;
  margin-top: 2px;
  color: $color3;
  font-size: 36px;
  background-color: transparent;
  border-width: 0 0 1px 0;
  border-color: $color3;
  border-style: solid;
  &:focus {
    outline: none;
    text-decoration: none;
  }
}
