@import "../../sass/vars";
.largeItemImage {
  width: 74vw;
  height: 37vw;
}

.itemPage {
  background-color: $color1;
  width: 100vw;
  height: calc((500vh / 6) - 100px);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.editInput {
  z-index: 1000;
}

.buttons {
  background-color: $color1;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.sidebyside {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}
