.dropzone {
  width: 100vw;
  height: 100vh;
  border: none;
  margin: none;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 0;
  background-color: transparent;
}

.preview {
  width: 90%;
  height: 90%;
  background-size: cover;
}
