@import "../../sass/vars";
.link {
  text-decoration: none;
  color: $color3;
  background-color: $color1;
}

.listedItem {
  display: flex;
  flex-direction: column;
  background-color: $color1;
}

.info {
  display: flex;
  justify-content: space-between;
}
.itemImage {
  width: 100px;
  height: 50px;
}
