@import "../../sass/vars";
.link {
  width: 95vw;
  text-decoration: none;
  color: $color3;
  background-color: $color1;
  display: flex;
  justify-content: space-between;
}

.listedItem {
  display: flex;
  flex-direction: column;
  background-color: $color1;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.itemImage {
  height: (100vh/12);
}

.notes {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
