@import "../../sass/vars";

.dropdown {
  background-color: $color1;
  height: 0;
  overflow: hidden;
  color: $color3;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: $font;
  font-size: 18px;
}

.profilePic {
  width: 100px;
  height: 100px;
}

.hide-animation {
  animation-name: hide;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.show-animation {
  animation-name: show;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.menuLink {
  text-decoration: none;
  color: $color3;
}

@keyframes hide {
  0% {
    height: 100px;
  }

  100% {
    height: 0px;
  }
}

@keyframes show {
  0% {
    height: 0px;
  }

  100% {
    height: 100px;
  }
}
