@import "../../sass/vars";

.loading {
  height: (500vh/6);
  background-color: $color1;
  width: 100vw;
}

.grid {
  bottom: calc(25% - 250px);
  left: calc(50% - 125px);
  position: relative;
  height: 500px;
  width: 250px;
  display: flex;
  flex-wrap: wrap;
  background-color: $color1;
}

.gridSphere {
  margin: 5px;
  height: 40px;
  width: 40px;
  background-color: $color1;
  border-radius: 50%;
}
