@import "../../sass/vars";

.loading {
  height: (500vh/6);
  background-color: $color1;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  height: 500px;
  width: 250px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: $color1;
}

.gridSphere {
  margin: 5px;
  height: 40px;
  width: 40px;
  background-color: $color1;
  border-radius: 50%;
}
.gridLine {
  margin: 5px;
  height: 10px;
  width: 40px;
  background-color: $color1;
  border-radius: 5px;
}

@media (min-width: $breakpoint-tablet) {
  .grid {
    height: 1000px;
    width: 500px;
  }
  .gridSphere {
    margin: 20px;
    height: 60px;
    width: 60px;
  }
  .gridLine {
    margin: 20px;
    height: 15px;
    width: 60px;
    background-color: $color1;
    border-radius: 10px;
  }
}
