@import "../../sass/vars";

$dashboard_height: (100vh * (5/6));

.dashboard {
  padding-left: 2vw;
  color: $color3;
  height: $dashboard_height;
  font-family: $font;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  background-color: $color1;

  h1 {
    color: $color3;
    font-size: 36px;
  }

  p {
    width: 46vw;
    text-align: left;
    font-size: 24px;
    margin-bottom: 1vh;
    display: inline-block;
  }
  .rightText {
    text-align: right;
  }
}

.guestHeader {
  width: 100vw;
  text-align: center;
}

.listItem {
  color: $color3;
  display: flex;
  justify-content: space-between;
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: $color3;
  margin-top: 2vh;
}

.linkstyle {
  text-decoration: none;
}
