@import "../../sass/vars";

$dashboard_height: (100vh * (5/6));

.listPage {
  width: 100vw;
  font-family: $font;
  background-color: $color1;
  height: 100vh;
  color: $color3;
  h1 {
    font-size: 36px;
    width: 100%;
    text-align: center;
  }
}

.menu {
  height: (100vh/4);
  display: flex;
  margin-bottom: 20px;
  padding-top: 20px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  button {
    color: $color1;
    font-family: $font;
    font-size: 18px;
    border: none;
    background-color: $color3;
    border-radius: 10px;

    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }

    &:focus {
      outline: none;
      text-decoration: none;
      background-color: $color2;
    }
  }
}

.buttonBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90vw;
}

@media (min-width: $breakpoint-tablet) {
  .listPage {
    h1 {
      font-size: 64px;
    }
  }

  .menu {
    button {
      font-size: 36px;
    }
  }
}
