$font: "Raleway", sans-serif;

.navMenuContainer {
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: column;
}

.navBar {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  $navHeight: (100vh/6);
  height: $navHeight;
  font-family: $font;
  box-sizing: border-box;
}
