@import "../../sass/vars";

$font: "Raleway", sans-serif;
$navHeight: (100vh/6);

.navMenuContainer {
  color: $color3;
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: column;
  background-color: $color1;
  h1 {
    font-size: 24px;
  }
}

.navBar {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: $navHeight;
  font-family: $font;
  box-sizing: border-box;

  .profilePic {
    width: 25vw;
    height: $navHeight;
  }
}
